<div class="container-locais" >
    <p-fieldset legend="Novo local" [toggleable]="true" [collapsed]="true" >
        <form (ngSubmit)="addLocal()">
          <input type="text" pInputText [(ngModel)]="local.nome" name="nome" placeholder="Nome" required />
          <input type="text" pInputText [(ngModel)]="local.rua" name="rua" placeholder="Rua" required />
          <input type="text" pInputText [(ngModel)]="local.bairro" name="bairro" placeholder="Bairro" required />
          <input type="text" pInputText [(ngModel)]="local.cidade" name="cidade" placeholder="Cidade" required />
          <input type="number" pInputText [(ngModel)]="local.numero" name="numero" placeholder="Número" required />
          <my-button label="Adicionar local" (onClick)="addLocal()" icon="pi pi-plus"/>
        </form>
    </p-fieldset>

    <my-table
        [datasource]="locais"
        [config]="tableConfig"
    />
  