.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
background: linear-gradient(133deg, rgba(255,255,255,1) 0%, rgba(96,196,227,1) 20%, rgba(66,133,244,1) 40%, rgba(190,140,205,1) 60%, rgba(255,231,229,1) 80%, rgba(255,255,255,1) 100%);
}

.login-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img{
        width: 4rem;
        height: 4rem;
    }

    h1{
        font-family: "Honk", system-ui;
        font-size: 2rem;
        font-weight: 400;
    }

    @media (max-width: 400px){
        flex-direction: column;
        gap: 0.5rem;
    }
}

.login-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.login-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}


.login-google{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    background-color: white;
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    cursor: pointer;

    img{
        width: 1.5rem;
        height: 1.5rem;
    }

    p{
        margin: 0;
        padding: 0;
    }
}
