
.home{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/*colocar box shadow na linha ao passar o mouse*/
::ng-deep .my-table tr:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    /*Escalar em 1%*/
    transform: scale(1);
    z-index: 99999;
  }
  
.home-container{
    width: 80%;
    
}
/* TELAS DE CELULAR USAR 90% */
@media (max-width: 768px) {
    .home-container{
        width: 90%;
    }
}