<div class="main-full home" >
    <div class="home-container">
        <div class="home-title">
            <h1>Bem vindo!</h1>
            <p>Registre aqui as caronas que você ofereceu!</p>
        </div>
        <p-tabView>
            <p-tabPanel header="Caronas">
                <caronas/>
            </p-tabPanel>
            <p-tabPanel header="Amigos">
                <passageiros/>
            </p-tabPanel>
            <p-tabPanel header="Locais">
                <locais/>
            </p-tabPanel>
            <p-tabPanel header="Resultados">
                <resultados/>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>