
.home{
    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(143, 143, 143);
    text-align: center;
}

.home-container{
    width: 80%;
    background-color: white;
    border-radius: .8rem;
    /* cortar os elementos */
    overflow: hidden;
    padding: 0.2rem;
}

/* TELAS DE CELULAR USAR 90% */
@media (max-width: 768px) {
    .home-container{
        width: 90%;
    }
}