@import "primeicons/primeicons.css";


form {
    margin-bottom: 20px;
}

form input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

form select {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

img {
    display: block;
}


#action:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: red;
}

.container-carona {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}