/*colocar box shadow na linha ao passar o mouse*/
::ng-deep .my-table tr:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    /*Escalar em 1%*/
    transform: scale(1);
    z-index: 99999;
}

::ng-deep .my-table td{
    word-wrap: break-word !important;
}


.actions, .actions-header{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: end;
    align-items: center;
}

/* Em telas de celular */
@media (max-width: 768px) {
    ::ng-deep .my-table tr, td{
        font-size: .8rem;
        padding: .5rem;
    }
    .actions, .actions-header{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: end;
        align-items: center;
    }
}